<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <script type="text/javascript" src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>

</head>
<body>
<div id="app">
    <!--账号：<input type="text" v-model="account"><br>-->
    <!--密码：<input type="password" v-model="pwd"><br>-->
    <!--<button @click="login">登录</button>-->
    <!--<input type="checkbox" v-model="rememberMe">记住我-->
    <el-row>
        <el-input placeholder="请输入账户" style="width: 260px" v-model="username"></el-input><br>
        <el-input placeholder="请输入密码" style="width: 260px" v-model="password" type="password"></el-input><br>
    </el-row>
    <el-row>
        <el-button type="primary" @click="login">立即登录</el-button>
        <el-checkbox  v-model="rememberMe" name="">记住我</el-checkbox>
        <el-checkbox  v-model="rememberMe3">记住我3天</el-checkbox>
        <el-checkbox  v-model="rememberMe10">记住我10天</el-checkbox>
        <!--<el-dropdown>-->
            <!--<el-button type="primary" v-model="rememberMe">-->
                <!--记住我<i class="el-icon-arrow-down el-icon&#45;&#45;right"></i>-->
            <!--</el-button>-->
            <!--<el-dropdown-menu slot="dropdown">-->
                <!--<el-dropdown-item v-model="rememberMe3">3天</el-dropdown-item>-->
                <!--<el-dropdown-item v-model="rememberMe10">10天</el-dropdown-item>-->
                <!--&lt;!&ndash;<el-dropdown-item>永久</el-dropdown-item>&ndash;&gt;-->
            <!--</el-dropdown-menu>-->
        <!--</el-dropdown>-->
    </el-row>
</div>
<script>
    var vm =new Vue({
        el:"#app",
        data:{
            username:'',
            password:'',
             rememberMe:'',
             rememberMe3:'',
             rememberMe10:''
        },
        methods:{
            login:function () {
                //调用axios发送到后台
                axios.post("/userinfo/loginByShiro",{
                    username:this.username,
                    password:this.password,
                     rememberMe:this.rememberMe,
                     rememberMe3:this.rememberMe3,
                     rememberMe10:this.rememberMe10
                }).then(res=>{
                    if(res.data.code==20000) {
                    console.log(res)
                    //window.location.href = "/page/index";
                    var username = sessionStorage.setItem("username",this.username)
                    console.log(username)
                     window.location.href = "/page/storelist";
                    // window.location.href = "/page/home";

                } if(res.data.code==40001){
                    this.$alert('账户输入错误','登录失败',{
                        confirmButtonText:'确定',
                    })

                }if(res.data.code==40002){
                    this.$alert('密码输入错误','登录失败',{
                        confirmButtonText:'确定',
                    })
                }
            });
            }
        }
    })
</script>
</body>
</html>